# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump
.vs
/Source/GTKSystem.Windows.Forms/bin/
/Source/GTKSystem.Windows.Forms/obj/
/Samples/GTKSystemWinFormsApp11/bin/Debug/net8.0/*.dll
/Samples/GTKSystemWinFormsApp11/obj/
/Samples/GTKWinFormsApp/bin/Debug/net8.0/runtimes
/Samples/GTKWinFormsApp/bin/Debug/net8.0/*.dll
# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

/Samples/GTKWinFormsApp/bin/Debug/net8.0/*.*
/Samples/GTKWinFormsApp/obj/Debug/net8.0/*.*
/Samples/GTKWinFormsApp/obj/Debug/net8.0/TempPE/*.*

/Source/GTKSystem.Windows.Forms/bin/Debug/net6.0/*.*
/Source/GTKSystem.Windows.Forms/obj/Debug/net6.0/ref/*.*
/Source/GTKSystem.Windows.Forms/bin/Debug/*.*
/Source/GTKSystem.Windows.Forms/obj/Debug/ref/*.*
/Source/GTKSystem.Windows.Forms/obj/Debug/net6.0/ref/*.*
/Source/GTKSystem.Windows.Forms/obj/Debug/net6.0/refint/*.*
vs
obj
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/GTKSystemWinFormsApp11.AssemblyInfoInputs.cache
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/GTKSystemWinFormsApp11.assets.cache
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/GTKSystemWinFormsApp11.csproj.AssemblyReference.cache
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/GTKSystemWinFormsApp11.GeneratedMSBuildEditorConfig.editorconfig
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/GTKSystemWinFormsApp11.GlobalUsings.g.cs
/Samples/GTKSystemWinFormsApp11/obj/GTKSystemWinFormsApp11.csproj.nuget.dgspec.json
/Samples/GTKSystemWinFormsApp11/obj/GTKSystemWinFormsApp11.csproj.nuget.g.props
/Samples/GTKSystemWinFormsApp11/obj/project.assets.json
/Samples/GTKSystemWinFormsApp11/obj/project.nuget.cache
/Samples/GTKWinFormsApp/obj/GTKWinFormsApp.csproj.nuget.dgspec.json
/Samples/GTKWinFormsApp/obj/GTKWinFormsApp.csproj.nuget.g.props
/Samples/GTKWinFormsApp/obj/project.assets.json
/Samples/GTKWinFormsApp/obj/project.nuget.cache
obj
bin
Debug
Release
net6.0
/Source/System.Resources.Extensions/obj/Debug/net6.0/ref/System.Resources.Extensions.dll
/Source/System.Resources.Extensions/obj/Debug/net6.0/refint/System.Resources.Extensions.dll
/Source/System.Resources.Extensions/bin/Debug/net6.0/System.Resources.Extensions.deps.json
/Source/System.Resources.Extensions/bin/Debug/net6.0/System.Resources.Extensions.dll
/Source/System.Resources.Extensions/bin/Debug/net6.0/System.Resources.Extensions.pdb
/Source/System.Resources.Extensions/obj/Debug/net6.0/System.Resources.Extensions.csproj.CoreCompileInputs.cache
/Source/System.Resources.Extensions/obj/Debug/net6.0/System.Resources.Extensions.csproj.FileListAbsolute.txt
/Source/System.Resources.Extensions/obj/Debug/net6.0/System.Resources.Extensions.dll
/Source/System.Resources.Extensions/obj/Debug/net6.0/System.Resources.Extensions.pdb
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/apphost.exe
/Samples/GTKSystemWinFormsApp11/bin/Debug/net8.0/GTKSystemWinFormsApp11.deps.json
/Samples/GTKSystemWinFormsApp11/bin/Debug/net8.0/GTKSystemWinFormsApp11.exe
/Samples/GTKSystemWinFormsApp11/bin/Debug/net8.0/GTKSystemWinFormsApp11.pdb
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/GTKSystemWinFormsApp11.csproj.FileListAbsolute.txt
