# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump
.vs
/Source/GTKSystem.Windows.Forms/bin/
/Source/GTKSystem.Windows.Forms/obj/
/Samples/GTKSystemWinFormsApp11/bin/Debug/net8.0/*.dll
/Samples/GTKSystemWinFormsApp11/obj/
/Samples/GTKWinFormsApp/bin/Debug/net8.0/runtimes
/Samples/GTKWinFormsApp/bin/Debug/net8.0/*.dll
# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk
obj
bin
/Samples/GTKSystemWinFormsApp11/obj/GTKSystemWinFormsApp11.csproj.nuget.g.targets
/Samples/GTKWinFormsApp/bin/Debug/net8.0/theme/setup.theme
/Samples/GTKWinFormsApp/bin/Debug/net8.0/theme/style.css
/Samples/GTKWinFormsApp/obj/GTKWinFormsApp/GTKWinFormsApp.csproj.nuget.g.targets
/Samples/GTKWinFormsApp/obj/GTKWinFormsApp/project.assets.json
/Samples/GTKWinFormsApp/obj/GTKWinFormsApp/project.nuget.cache
/Samples/GTKWinFormsApp/GTKWinFormsApp.csproj.user
/Samples/GTKWinFormsApp/GTKWinFormsApp.xml
/Source/GTKSystem.Windows.Forms/GTKSystem.Windows.Forms.xml
